.birthday-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
 
  width: 100%;
  
  background: linear-gradient(to bottom right, #d689bf, #fad0c4);
}

.box{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

@keyframes fall {
  0% {
    transform: translateY(-100vh) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0.5;
  }
}

@keyframes sway {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
}

.falling-container {
  position: absolute;
  justify-content: center;
  top: 0;
  left: -50px;
  width: 110vw;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  opacity: 55;
  padding-top: 10px;
  
}
.falling-container2 {
  position: absolute;
  justify-content: center;
  top: 0;
  left: -50px;
  width: 110vw;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  opacity: 99;
  padding-top: 80px;
  
  
}





.falling-item {
  position: absolute;
  /* top: -10%; */
  font-size: 24px; /* Adjust size for flowers/stars */
  animation: fall 4s linear infinite, sway 2s ease-in-out infinite;
  opacity: 0;
}

.falling-item:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}

.falling-item:nth-child(2) {
  left: 30%;
  animation-delay: 0.5s;
}

.falling-item:nth-child(3) {
  left: 50%;
  animation-delay: 1s;
}

.falling-item:nth-child(4) {
  left: 70%;
  animation-delay: 1.5s;
}

.falling-item:nth-child(5) {
  left: 90%;
  animation-delay: 2s;
}

.image{
  width: 80%;
  height: 400px;
}

@keyframes scaleEmoji {
  0%, 100% {
    transform: scale(1); /* Normal size */
  }
  50% {
    transform: scale(1.5); /* Larger size */
  }
}

.emoji {
  font-size: 30px; /* Adjust emoji size */
  display: inline-block;
  animation: scaleEmoji 8s infinite; /* 1-second animation, looping infinitely */
  transition: transform 0.2s ease-in-out;
  color: rgb(255, 0, 212);
  font-weight: 800;
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
}


h2 {
  text-align: center;
  font-size: 24px; /* Adjust the width based on the content */
}